@import "global";

@mixin list(){
    list-style:none;
    margin: 0;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
    font-family: calibri;
}

#ed-sidebar {
    width: 220px;
    float:left;
    ul{
    	@include list;
    	li{
		    padding: 10px 10px;
		    font-style:italic;
		    font-family: georgia;
		    font-size: 13px;
		    width: inherit;
		    clear: left;
		    float:left;
		    cursor:pointer;
		    z-index: 99;
		    a {
		    	text-decoration: none;
		    	font-size:inherit;
		    	font-family: inherit;
		    	color:inherit;
		    }
		    &:first-child{
			    background-color: #f95521;
			    color: #fff;
				&:hover{
   					background-color: #e84613;
				} 	
		    }
    	}
    }
    #legenda{
    	display: block;
    	height: auto;
    	height: 0px;
    	div{
    		text-align: center;
    		position: relative;
    		display: block;
		    clear: left;
    		padding-top: 20px;
    		p {
	    		width: auto;
	    		float: left;
	    		padding: 1% 3%;
	    		cursor: pointer;
	    	}
    	}
    	.TP{
    		position: absolute;
	    	width:48%;
	    	left:0;
    		border:2px dashed darken($szary, 70%);
	    }
	    .TN{
    		position: absolute;
	    	width:48%;
	    	right:0;
    		border:2px dashed darken($szary, 70%);
	    }
    	
    }
}
#ed-navbar {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align:left;
	ul{
    	min-height: 45px;
		@include list;
		li{
		    display:inline-block;
    		height: 20px;
		    padding: 10px 20px;
		    cursor:pointer;
			border-bottom:1px solid #fff;
		    &:hover{
			    border-bottom:1px solid #aaa;
		    }
		    &.active{
			    background-color: $szary;
		    }
		}
	}
}
#ed-content {
    width: 1000px;
    margin: auto;
}
#ed-center {
    margin: auto;
    margin-left: 210px;
    text-align: center;
    #ed-page-title{
    	width: 1000px;
    	font-size: 30px;
    	text-align: left;
   	 	margin:  auto;
   	 	padding: 20px 0;
   	 	border-bottom: 1px solid $szary;
    }

    #wyslij-button {
        float: right;
        padding: 10px 20px;
        font-size: 16px;
        background-color: $czerwony;
        border: 1px solid $czerwony;
        &:hover{
            background-color: $ciemny_czerwony;
        }
    }
}