#er-calendar {
    background-color: black;
    border: 1px solid #aaa;
}
#er-calendar .er-day{
    height: 100%;
    width: 20%;
    background-color: #fff;
    float: left;
    border-right: 1px solid #aaa;
    position: relative;
}
#er-calendar .er-day:last-child{
    border-right: 0px;
}
#er-calendar .er-day .er-day-header{
    background-color: #eee;
    text-align: center;
    height: 10%;
    padding: 5% 0;
    border-bottom: 1px solid #aaa;
}
#er-calendar .er-day .er-day-event{
    background-color: #000;
    position: absolute;
    height: 12.85714285714286%;
    width: 100%;
    overflow:hidden;
    padding: 2%;
}

#er-calendar .er-day .er-event-1{
    top: 10%;
}
#er-calendar .er-day .er-event-2{
    top: 22.85714285714286%;
}
#er-calendar .er-day .er-event-3{
    top: 35.71428571428571%;
}
#er-calendar .er-day .er-event-4{
    top: 48.57142857142857%;
}
#er-calendar .er-day .er-event-5{
    top: 61.42857142857143%;
}
#er-calendar .er-day .er-event-6{
    top: 74.28571428571429%;
}
#er-calendar .er-day .er-event-7{
    top: 87.14285714285714%;
}
#er-calendar .er-day .er-event-tp{
    width: 50%;
    right: 0;
}
#er-calendar .er-day .er-event-tn{
    width: 50%;
    left: 0;
}
#er-calendar .er-day .er-event-type-1{
    background-color: #428bca;
    color: #fff;
    border: 1px solid #214e74;
}
#er-calendar .er-day .er-event-type-2{
    background-color: #f0ad4e;
    color: #fff;
    border: 1px solid #e78f14;
}
#er-calendar .er-day .er-event-type-3{
    background-color: #5cb85c;
    color: #fff;
    border: 1px solid #357935;
}
#er-calendar .er-day .er-event-type-4{
    background-color: #d9534f;
    color: #fff;
    border: 1px solid #bc2d28;
}
#er-calendar .er-day .er-event-type-5{
    background-color: #5bc0de;
    color: #fff;
    border: 1px solid #269bbe;
}

/* 
    najmniejsze
*/
@media (max-width: 767px){
    #er-calendar{
        width: 100%;
    }
    #er-calendar .er-day{
        float: none;
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #aaa;
    }
    #er-calendar .er-day .er-day-header{
        font-size: 12px;
        height: 30px;
        padding: 5px;
    }
    #er-calendar .er-day .er-day-event{
        position:relative;
        font-size: 10px;
    }
}
/* 
    male
*/
@media (min-width: 768px){
    #er-calendar{
        width: 510px;
        height: 230px;
    }
    #er-calendar .er-day .er-day-header{
        font-size: 10px;
    }
    #er-calendar .er-day .er-day-event{
        font-size: 10px;
    }
    #er-calendar .er-day .er-day-event .er-event-hours{
        font-size: 10px;
        display:none;
    }
    
    #er-calendar .er-day .er-day-event:hover{
        position: absolute;
        height: 80px;
        width: 150px;
        padding: 2%;
        z-index:99;
        font-size: 12px;
    }
    #er-calendar .er-day .er-day-event:hover .er-event-hours{
        display:block;
    }
    #er-calendar .er-day .er-day-event .er-event-master{
        font-size: 10px;
    }
}
/* 
    srednie
*/
@media (min-width: 992px){
    #er-calendar{
        width: 720px;
        height: 325px;
    }
    #er-calendar .er-day .er-day-header{
        font-size: 14px;
        font-weight: 700;
    }
    #er-calendar .er-day .er-day-event{
        font-size: 10px;
    }
    #er-calendar .er-day .er-day-event .er-event-hours, #er-calendar .er-day .er-day-event .er-event-master{
        font-size: 10px;
    }

    #er-calendar .er-day .er-day-event:hover{
        position: absolute;
        height: 80px;
        width: 100%;
        padding: 2%;
        z-index:99;
        font-size: 12px;
    }
    #er-calendar .er-day .er-day-event:hover .er-event-hours{
        display:block;
    }
}


@media (min-width: 1200px){
    #er-calendar{
        width: 930px;
        height: 420px;
    }
    #er-calendar .er-day .er-day-header{
        font-size: 16px;
        font-weight: 700;
    }
    #er-calendar .er-day .er-day-event{
        font-size: 13px;
    }
    #er-calendar .er-day .er-day-event .er-event-hours, #er-calendar .er-day .er-day-event .er-event-master{
        font-size: 12px;
    }
    #er-calendar .er-day .er-day-event:hover{
        position: absolute;
        height: 80px;
        width: 100%;
        padding: 2%;
        z-index:99;
        font-size: 13px;
    }
    #er-calendar .er-day .er-day-event:hover .er-event-hours{
        display:block;
    }
}
/* 
    duze
*/
@media (min-width: 1600px){
    #er-calendar{
        width: 1330px;
        height: 600px;
    }
    #er-calendar .er-day .er-day-header{
        font-size: 20px;
    }
    #er-calendar .er-day .er-day-event{
        font-size: 13px;
    }
    #er-calendar .er-day .er-day-event .er-event-hours, #er-calendar .er-day .er-day-event .er-event-master{
        font-size: 12px;
    }
    #er-calendar .er-day .er-day-event:hover{
        position: absolute;
        height: 80px;
        width: 100%;
        padding: 2%;
        z-index:99;
        font-size: 14px;
    }
    #er-calendar .er-day .er-day-event:hover .er-event-hours{
        display:block;
    }
}
/* 
    ogromne
*/
@media (min-width: 1900px){
    #er-calendar{
        width: 1550px;
        height: 700px;
    }
    #er-calendar .er-day .er-day-header{
        font-size: 25px;
    }
    #er-calendar .er-day .er-day-event{
        font-size: 15px;
    }
    #er-calendar .er-day .er-day-event .er-event-hours, #er-calendar .er-day .er-day-event .er-event-master{
        font-size: 13px;
    }
    #er-calendar .er-day .er-day-event:hover{
        position: absolute;
        height: 100px;
        width: 100%;
        padding: 2%;
        z-index:99;
        font-size: 16px;
    }
    #er-calendar .er-day .er-day-event:hover .er-event-hours{
        display:block;
    }
}
