<div id="ed-calendar">
     
  <div class="hours">
      <p class="lecture1">7:30</p>
      <p class="lecture2">9:15</p>
      <p class="lecture3">11:15</p>
      <p class="lecture4">13:15</p>
      <p class="lecture5">15:15</p>
      <p class="lecture6">17:05</p>
      <p class="lecture7">18:55</p>
  </div>
  <div class="day">
      <div class="header">
          Poniedziałek
      </div>
      <div ed-terminy przedmioty="przedmioty.pn" plan="plan" is-plan="isPlan"></div>
      <div ed-mockup plan="plan.pn" is-plan="isPlan">
      </div>
  </div>
  <div class="day">
      <div class="header">
          Wtorek
      </div>
      <div ed-terminy przedmioty="przedmioty.wt" plan="plan" is-plan="isPlan"></div>
      <div ed-mockup plan="plan.wt" is-plan="isPlan">
      </div>
  </div>
  <div class="day">
      <div class="header">
          Środa
      </div>
      <div ed-terminy przedmioty="przedmioty.sr" plan="plan" is-plan="isPlan"></div>
      <div ed-mockup plan="plan.sr" is-plan="isPlan">
      </div>
  </div>
  <div class="day">
      <div class="header">
          Czwartek
      </div>
      <div ed-terminy przedmioty="przedmioty.cz" plan="plan" is-plan="isPlan"></div>
      <div ed-mockup plan="plan.cz" is-plan="isPlan">
      </div>
  </div>
  <div class="day">
      <div class="header">
          Piątek
      </div>
      <div ed-terminy przedmioty="przedmioty.pt" plan="plan" is-plan="isPlan"></div>
      <div ed-mockup plan="plan.pt" is-plan="isPlan">
      </div>
  </div>
</div>