<div ng-repeat="przedmiot in przedmioty" style="
top:{{services.top(przedmiot.hour.start)}}%;
height:{{services.height(przedmiot.hour.start, przedmiot.hour.finish)}}%;
min-height:{{services.height(przedmiot.hour.start, przedmiot.hour.finish)}}%;" 
ng-click="
services.addLecture(plan,przedmiot)" ng-class="[
'lecture', services.isChosen(przedmiot.active, przedmiot.kind), przedmiot.week, services.isFull(przedmiot) ? 'type8' : '']">
	<div>{{przedmiot.space.taken}} / {{przedmiot.space.all}}
	<p>{{przedmiot.hour.start}} - {{przedmiot.hour.finish}}</p>
	<span></span></div>
	
</div>